[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#boto3 = "*"
jupyterlab-git = "*"
kfp = "*"
kfp-server-api = "*" 
#kubernetes = "*"
kubeflow-kale = ">=0.6.0"
#kfserving = "*"
#kubeflow-fairing = "*"

[dev-packages]

[requires]
python_version = "3.8"
