[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
#boto3 = "*"
jupyterlab-git = "*"
kfp = "*"
kfp-server-api = "*" 
kubernetes = "*"
kubeflow-kale = ">=0.6.0"
#kfserving = "*"
#kubeflow-fairing = "*"
httplib2 = "*"

# from conda
jupyterlab = ">=3.0.0,<4.0.0a0"
jupyterlab-lsp = "*"
python-language-server = "*"
#nodejs = ">=10.12,<15"
#ipympl = "*"

[dev-packages]

[requires]
python_version = "3.8"
