jupyterlab-git

#kubeflow-fairing==1.0.2

kfp
kfp-server-api
kfserving 
kubernetes 

# kubeflow-kale==0.6.1
# # kale also installs
# #   * kfp
# #   * kfp-server-api
# #   * kfserving
# #   * kubernetes

# required for fairing
msrestazure

awscli

# https://elyra.readthedocs.io/en/latest/
#elyra

plotly
dash